.form-rows{
    margin-bottom: 20px;
}
.form-row-2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-auto-flow: row;
    justify-items: initial;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

#clientfullname {
    width: 100%;
    max-width: 600px;
}

