.listMyCams {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-auto-flow: row;
    justify-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
.addAccessCams{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.addAccessCamsArea{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    width: 100%;
    margin-bottom: 1em;
}

.dateTimeArea{
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.dateTimeArea div{
    margin-bottom: 1em;
}

.linkAreaText{
    margin-top: 2em;
    flex-direction: column;
}
.linkAreaTextBtnArea button{
    width: 50%;
    height: 40px;
}
.filter{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    width: 100%;
    margin-bottom: 1em;
    
}
.tableListCams {
    width: 100%;
    max-width: 400px;
}